/* Gaya umum untuk semua layar */
body {
  background-image: url('http://www.umm.ac.id/files/image/DJI_0135-copy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'YourChosenFont', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5cbedc;
  display: flex;
  justify-content: space-between; /* Penambahan ini agar elemen pada header merapat ke kanan */
  align-items: center; /* Menengahkan elemen pada header secara vertikal */
  padding: 10px 20px; /* Tambahkan padding agar header lebih terlihat */
}

header img {
  height: 60px; /* Mengurangi tinggi logo agar lebih proporsional */
}

h1 {
  text-shadow: 2px 2px 4px #fffcfc;
  margin: 0; /* Menghapus margin agar teks header lebih rapat ke atas */
}

#bmi-desc1 p,
#bmi-desc2 p {
  background-color: rgba(56, 56, 53, 0.5);
  padding: 10px;
  color: white;
  margin: 0; /* Menghapus margin agar teks pada bagian ini lebih rapat */
}

#bmi-form,
#bmi-result,
#registrationForm {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(208, 202, 202, 0.8);
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input,
button {
  margin: 5px;
  border-style: none;
}

button {
  background-color: #dc5c7c;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: #ccc;
}

#bmi-result {
  display: none;
}

#bmi-cons {
  text-align: center; /* Mengubah posisi tombol konsultasi dan registrasi agar berada di tengah */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff002b;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #fff;
  color: #333;
  transition: 1.5s;
  border-style: solid;
}

#follow-me {
  display: none; /* Sembunyikan elemen follow-me pada tampilan awal */
}

/* Media query untuk tampilan layar dengan lebar kurang dari atau sama dengan 600px */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column; /* Mengubah arah flex menjadi vertikal pada layar kecil */
    text-align: center; /* Pusatkan teks pada layar kecil */
  }

  header img {
    margin-bottom: 10px; /* Tambahkan margin agar logo lebih terpisah dari teks */
  }

  #follow-me {
    display: block; /* Tampilkan kembali elemen follow-me pada layar kecil */
    position: static;
    margin-top: 20px;
    text-align: center;
  }
}
